*,
*::after,
*::before {
	box-sizing: inherit;
}


.container {
	max-width: 800px;
	margin: 0 auto;
}


.box {
	padding: 0;
	margin: 200px 0px 0px 0px;
	min-width: 1000px;
	height: 200px;
	background: black;
}


html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


body {
	margin: 0;	
}

.body {
	max-height: 100vh;
	overflow: hidden;
}


@media(max-width: 600px){
	.body {
		overflow-y: inherit;
	}
}
